<p id="notice"><%= notice %></p>

<h1>Tags</h1>
<% if @tags %>
  <% @tags.each do |tag| %>
    <%= link_to tag.name, url_for(controller: "welcome", action: :index, tag: tag.name) %>&#32;
  <% end %>
<% end %>
