<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<%= link_to 'Back', tags_path %> | 
<%= link_to 'Edit', edit_tag_path(@tag) if current_user.roles[0].present? && current_user.roles[0].name == "admin" %>
