body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    line-height: 1.5;
    font-feature-settings: "palt";
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;  
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #000;
    background-color: #00ced1;
  }

  &:hover {
    color: #fff;
    background-color: #00ced1;
  }
}

.document_root{
  width: 1200px;
  min-height: 800px;
  margin: 0 auto;
  background-color: white;
}

.header {
  width: 1200px;
  min-height: 50px;
  background-color: #191970;
  color: fff;
}

.site_title {
  width: 1000px;
  min-height: 50px;
  float: left;
  font-size: 20px;
  vertical-align: middle;
}

.site_title a {
    color: #fff;
}

.site_title a:visited {
    color: #fff;
}

.site_setup {
    background: #000;
    color: #fff;
    width: 100px;
    height: 50px;
    float: left;
    border: 0px solid gray;
}

.body {
  width: 1200px;
  min-height: 700px;
  background-color: #fff;
}

.contents {
  width: 1200px;
  min-height: 700px;
  overflow: hidden;
  background-color: #fff;
}

.footer {
  width: 1200px;
  min-height: 50px;
  background-color: #191970;
  color: fff;
}

.menu {
  width: 100%;
}

.title {
  width: 200px;
}

.overview {
  width: 400px;
  min-height: 150px;
}

.detail {
  width: 400px;
  min-height: 300px;
}

.side-bar{
  width: 200px;
  min-height: 300px;
  float: left;
  padding: 5px;
  background-color: #e0ffff;
}

.left-contents{
  width: 498px;
  float: left;
  margin: 1px;
  background-color: #ffffe0;
}

.right-contents {
  width: 498px;
  float: left;
  margin: 1px;
  background-color: #ffffe0;
}
.main_contents{
  width: 800px;
  max-height: 300px;
  float: left;
  padding: 5px;
  background-color: #ffffe0;
}

.notes {
  width: 496px;
  float: left;
  margin: 1px;
  background-color: #ffffff;
  overflow: hidden;
}

.note {
  width: 494px;
  height: 200px;
  float: left;
  margin: 1px;
  background-color: #ffffe0;
}

.note-title {
  width: 492px;
  padding: 5px;
  margin: 1px;
  background-color: #ffffe0;
}

.note-overview {
  width: 492px;
  padding: 5px;
  margin: 1px;
  background-color: #ffffe0;
}

.comment_detail {
  width: 400px;
  min-height: 100px;
}

.page_row {
    width: 600px;
    min-height: 100px;
}

.nav ul li{   
    display: inline;
}

@media screen and ( max-width:1200px ){
  .body {
    width: 990px;
    min-height: 700px;
    background-color: #fff;
  }

  .header {
    width: 990px;
    min-height: 50px;
    background-color: #191970;
    color: fff;
  }

  .contents {
    width: 990px;
    min-height: 700px;
    overflow: hidden;
    background-color: #fff;
  }

  .footer {
    width: 990px;
    min-height: 50px;
    background-color: #191970;
    color: fff;
  }

  .menu {
    width: 100%;
  }

  .title {
    width: 200px;
  }

  .overview {
    width: 400px;
    min-height: 150px;
  }

  .detail {
    width: 400px;
    min-height: 300px;
  }

  .side-bar{
    width: 200px;
    min-height: 300px;
    float: left;
    padding: 5px;
    background-color: #e0ffff;
  }

  .left-contents{
    width: 393px;
    float: left;
    margin: 1px;
    background-color: #ffffe0;
  }

  .right-contents {
    width: 393px;
    float: left;
    margin: 1px;
    background-color: #ffffe0;
  }
  .main_contents{
    width: 588px;
    min-height: 300px;
    float: left;
    padding: 5px;
    margin: 1px;
    background-color: #ffffe0;
  }

  .notes {
    width: 391px;
    float: left;
    margin: 1px;
    background-color: #ffffff;
    overflow: hidden;
  }

  .note {
    width: 389px;
    height: 200px;
    float: left;
    margin: 1px;
    background-color: #ffffe0;
  }

  .note-title {
    width: 387px;
    padding: 5px;
    margin: 1px;
    background-color: #ffffe0;
  }

  .note-overview {
    width: 387px;
    padding: 5px;
    margin: 1px;
    background-color: #ffffe0;
  }

  .comment_detail {
    width: 400px;
    min-height: 100px;
  }

  .page_row {
    width: 600px;
    min-height: 100px;
  }

  .nav ul li{   
      display: inline;
  }
}

@media screen and ( max-width:991px ){
  .body {
    width: 767px;
    min-height: 700px;
    background-color: #fff;
  }

  .header {
    width: 767px;
    min-height: 50px;
    background-color: #191970;
    color: fff;
  }

  .contents {
    width: 767px;
    min-height: 700px;
    float: left;
    background-color: #fff;
  }

  .footer {
    width: 767px;
    min-height: 50px;
    background-color: #191970;
    color: fff;
  }

  .menu {
    width: 100%;
  }

  .title {
    width: 200px;
  }

  .overview {
    width: 394px;
    min-height: 150px;
  }

  .detail {
    width: 394px;
    min-height: 300px;
  }

  .side-bar{
    width: 150px;
    min-height: 300px;
    float: left;
    padding: 5px;
    background-color: #e0ffff;
  }

  .main-contents {
    width: 570px;
    float: left;
    margin: 1px;
    background-color: #ffffe0;
  }

  .left-contents{
    width: 568px;
    float: left;
    margin: 1px;
    background-color: #ffffe0;
  }

  .right-contents {
    width: 568px;
    float: left;
    margin: 1px;
    background-color: #ffffe0;
  }

  .notes {
    width: 566px;
    float: left;
    margin: 1px;
    background-color: #ffffff;
    overflow: hidden;
  }

  .note {
    width: 564px;
    height: 200px;
    float: left;
    margin: 1px;
    background-color: #ffffe0;
  }

  .note-title {
    width: 562px;
    padding: 5px;
    margin: 1px;
    background-color: #ffffe0;
  }

  .note-overview {
    width: 562px;
    padding: 5px;
    margin: 1px;
    background-color: #ffffe0;
  }

  .comment_detail {
    width: 400px;
    min-height: 100px;
  }

  .page_row {
    width: 600px;
    min-height: 100px;
  }

  .nav ul li{   
      display: inline;
  }
}

@media screen and ( max-width:767px ){
  .body {
    width: 570px;
    min-height: 700px;
    background-color: #fff;
  }

  .header {
    width: 570px;
    min-height: 50px;
    background-color: #191970;
    color: fff;
  }

  .contents {
    width: 570px;
    min-height: 700px;
    overflow: hidden;
    background-color: #fff;
  }

  .footer {
    width: 570px;
    min-height: 50px;
    background-color: #191970;
    color: fff;
  }

  .menu {
    width: 570px;
  }

  .title {
    width: 200px;
  }

  .overview {
    width: 570px;
    min-height: 150px;
  }

  .detail {
    width: 570px;
    min-height: 300px;
  }

  .side-bar{
    display: none;
  }

  .main-contents {
    width: 568px;
    float: left;
    margin: 1px;
    background-color: #ffffe0;
  }

  .left-contents{
    min-width: 566px;
    float: left;
    margin: 1px;
    background-color: #ffffe0;
  }

  .right-contents {
    min-width: 566px;
    float: left;
    margin: 1px;
    background-color: #ffffe0;
  }

  .notes {
    max-width: 564px;
    float: left;
    margin: 1px;
    background-color: #ffffff;
    overflow: hidden;
  }

  .note {
    max-width: 562px;
    height: 200px;
    float: left;
    margin: 1px;
    background-color: #ffffe0;
  }

  .note-title {
    max-width: 562px;
    padding: 5px;
    margin: 1px;
    background-color: #ffffe0;
  }

  .note-overview {
    min-width: 562px;
    padding: 5px;
    margin: 1px;
    background-color: #ffffe0;
  }

  .comment_detail {
    width: 570px;
    min-height: 100px;
  }

  .page_row {
      width: 570px;
      min-height: 100px;
  }

  .nav ul li{   
      display: inline;
  }
}

@media screen and ( max-width:575px )
{
  .document_root{
    width: 575px;
    min-height: 800px;
    margin: 0 auto;
    background-color: white;
  }

  .header {
    width: 575px;
    min-height: 50px;
    background-color: #000;
    color: fff;
  }

  .site_title {
    width: 575px;
    min-height: 50px;
    float: left;
    font-size: 20px;
    vertical-align: middle;
  }

  .site_title a {
      color: #fff;
  }

  .site_title a:visited {
      color: #fff;
  }

  .site_setup {
      background: #000;
      color: #fff;
      width: 100px;
      height: 50px;
      float: left;
      border: 0px solid gray;
  }

  .body {
    width: 575px;
    min-height: 700px;
    background-color: #fff;
  }

  .footer {
    width: 575px;
    min-height: 50px;
    background-color: #000;
    color: fff;
  }

  .menu {
    width: 100%;
  }

  .title {
    width: 200px;
  }

  .overview {
    width: 500px;
    min-height: 150px;
  }

  .detail {
    width: 500px;
    min-height: 300px;
  }

  .side-bar{
    display: none;
    width: 200px;
    min-height: 300px;
    float: left;
    padding: 5px;
    background-color: #e0ffff;
  }

  .main-contents {
    width: 575px;
    float: left;
    background-color: #ffffe0;
  }

  .left-contents{
    width: 575px;
    float: left;
    background-color: #ffffe0;
  }

  .right-contents {
    width: 575px;
    float: left;
    background-color: #ffffe0;
  }

  .main_contents{
    width: 575px;
    min-height: 300px;
    float: left;
    padding: 5px;
    background-color: #ffffe0;
  }

  .notes {
    width: 575px;
    float: left;
    background-color: #ffffff;
    overflow: hidden;
  }

  .note {
    width: 575px;
    height: 200px;
    float: left;
    background-color: #ffffe0;
  }

  .note-title {
    width: 575px;
    padding: 5px;
    background-color: #ffffe0;
  }

  .note-overview {
    width: 575px;
    padding: 5px;
    background-color: #ffffe0;
  }

  .comment_detail {
    width: 575px;
    padding: 5px;
    min-height: 100px;
  }

  .page_row {
    width: 575  px;
    min-height: 100px;
  }

  .nav ul li{   
      display: inline;
  }
}
th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

/*
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }
*/
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
