<p id="notice"><%= notice %></p>

<h1>Categories</h1>
<hr>
<% @notelists.each do |notelist| %>
<hr>
<%= link_to notelist[:category].name, url_for(controller: :categories, action: :show, id: notelist[:category].id) %>:
<% notelist[:notes].each do |note| %>
  「<%=link_to note.title, url_for(controller: :notes, action: :show, id: note.id) %>」&#x20;
<% end %>
<% end %>
<br>

<% if current_user && current_user.has_role?(:admin) %>
<%= link_to 'New Category', new_category_path %>
<% end %>
